*

!.gitignore
!*/
!*.cs

*/

!FFR/*

Aerial Explosion Tutorial/*
Aerial_Explosions/*
FFR/CamToTexture/*
Udon/*
UdonSharp/*
VRCSDK/*
GotoUdon/*
CyanEmu/*
Editor/*
FFR/NPC/*
Standard Assets/*
MassiveClouds/*
Nuke/*
# !*.controller
# !*.anim
# !*.mat